<html ng-app="autoCompletion">
<head>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angularjs/1/angular-sanitize.min.js"></script>

    <script src="node_modules/algoliasearch/dist/algoliasearch.angular.min.js"></script>
    <script src="bower_components/algolia-autocomplete.js/dist/autocomplete.angular.min.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="app/css/main.css">    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="mainController">
        <div class="parentContainer">
            <div class="firstBar">
                <div id="headerText">
                    <img class="headerImage" src="/app/images/image.png"/>
                    <img class="purse" src="https://cdn3.iconfinder.com/data/icons/glypho-free/64/shopping-purse-20.png">
                </div>
                <div id="dealsText">Hurry!! Before your deals run out!
                    <a href='#'>Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
                <div id='search'>
                    <button class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <input type="text" id="search-input" autocomplete aa-datasets="getDatasets()" aa-options="getOptions()" ng-model="search.query" placeholder="Search your heart out (Brand, Categories)"/>
                </div>
            <!--End of fist nav bar-->
            </div>

            <!--Start of secondary nav bar-->
            <div class="navBar">
                <ul>
                    <li><a href="#">POPULAR</a></li>
                    <li><a href="#">BRANDS</a></li>
                    <li><a href="#">CATEGORIES</a></li>
                    <li><a href="#">SALE</a></li>
                    <li id="cart"><a href='#'><i class="fa fa-shopping-cart" ></i> 2 Items</a></li>

                </ul>
            </div>

            <!--Display of all results-->
            <div>
                <div class="item-display">
                    <div class="section-text">----------- See What's Hot -----------</div>
                    <ul class="flex-container">
                        <div class="flex-item" ng-repeat="hit in search.hits">
                            <div><img class="item-img" ng-bind-html="hit.image" ng-src="{{hit.image}}"/></div>
                            <div class="item-detail" ng-bind-html=" hit.name"> </div>
                        </div>
                    </ul>
                </div>
            </div>
        <!--End of parent container-->
        </div>
</body>
</html>

